<article class="bg-[#14090C] rounded-2xl p-4 text-white shadow-lg flex flex-col gap-4">
  <div class="flex gap-4">
    <img [src]="card.image" [alt]="card.title" class="w-32 h-32 object-cover rounded-xl" alt=""/>

    <div class="flex flex-col gap-2 flex-1">
      <h3 class="text-lg font-semibold uppercase">
        {{ card.title }}
      </h3>

      <p class="text-sm text-gray-300 flex items-center gap-1">
        <i class="pi pi-map-marker"></i>
        {{ card.location }}, {{ card.adress }}
      </p>

      <p class="text-sm text-gray-400">Hab: {{ card.numberHab }} · {{ card.title }}</p>

      <div class="flex flex-wrap gap-3 text-sm mt-1">
        @for (service of services; track service.id) {
          <span class="flex items-center gap-1 text-gray-200">
            <i [class]="service.icon"></i>
            {{ service.name }}
          </span>
        }
      </div>
    </div>
  </div>

  <hr class="border-white/10" />

  <div class="flex items-end gap-2">
    <span class="font-bold text-red-600">
      {{ card.price | currency: 'COP' }}
    </span>
  </div>
  <p class="text-sm text-gray-400 line-clamp-2">{{ card.descripcion }}</p>

  <div class="flex gap-2">
    <app-button-01 text="Reservar Ahora" [id]="card.id" action="reservar"></app-button-01>
    <app-button-02
      text="Ver más"
      [routerLink]="'/roominfo'"
      [queryParams]="{ id: card.id }"
    ></app-button-02>
  </div>
</article>
